
<div class="container">
  <form #adminForm="ngForm" action="" method="POST" class="form-horizontal" (ngSubmit)="onSubmit(adminForm.value)" role="form">
    <div class="form-group">
      <legend>Admin Login</legend>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <input type="text"  class="form-control" name="phoneNumber" ngModel>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <input type="password"  class="form-control" name="password" ngModel>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <input type="submit"  class="btn btn-primary" name="submit" value="Log In">
      </div>
    </div>
</form>
</div>


